@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

*{
  animation: fade-in 0.5s ease-in-out;
  font-family: 'Nunito', sans-serif;
  overflow: hidden;
  background: linear-gradient(45deg, rgb(45, 54, 76) 0%, rgb(37, 45, 63) 100%);

}


@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.spinner {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%,-50%);
}

#container {
  width: 200px;
  height: 200px;
}

@keyframes animation {
  0% {
    stroke-dasharray: 1 98;
    stroke-dashoffset: -105;
  }
  50% {
    stroke-dasharray: 80 10;
    stroke-dashoffset: -160;
  }
  100% {
    stroke-dasharray: 1 98;
    stroke-dashoffset: -300;
  }
}

#spinner {
  transform-origin: center;
  animation-name: animation;
  animation-duration: 1.2s;
  animation-timing-function: cubic-bezier;
  animation-iteration-count: infinite;
}

.form-container{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  color: white;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: transparent;
}

.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  color: white;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: transparent;
}

.form {
  display: flex;
  flex-direction: column;
  background: transparent;

}

.form label{
  margin-bottom: 10px;
  font-size: 2rem;
  font-weight: bold;
  background: transparent;

}

.inputan {
  border: none;
  outline: none;
  border-bottom: 1px solid white;
  width: 400px;
  font-size: 2rem;
  padding: .4rem;
  font-weight: lighter;
  background: transparent;
  color: white;
}

.inputan:active, .inputan:focus, .inputan:-webkit-autofill{
  background: transparent;

}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
    -webkit-text-fill-color: #ffffff
}
.content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: transparent;
}

.content h1{
  margin: 0;
}

.button {
  display: none;
}

.footer {
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100%;
  background: transparent;
}

.footer .quote {
  font-style: italic;
}

h1, p {
  background: transparent;
}